@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-color: #0c0e2b;
    --secondary-color: #5f2ded;
    --marker-color: #f2277e;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff !important;
    background-color: var(--primary-color);
}
/*Header section */

header {
    width: 100%;
    height: 100vh;
}

header>nav {
    padding-top: 20px !important;
    font-size: large;
}

.nav .navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.logo {
    font-size: 30px !important;
    font-weight: 600;
}

.education {
    color: var(--marker-color);
}
/* Hero Section */
.image {
    width: 400px;
    /* height: 350px; */
    /* border: 1px solid black; */
}

.image>img {
    border-radius: 10px;
    width: 70vh;
    /* height: 350px; */
    object-fit: contain;
}
.content{
    margin-left: 90px;
}
.content h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
.bi {
    fill: white;
}
.icon-large{
    font-size: 1em; /* Adjust the size as needed */
    background-color:#f2277e;
    padding: 15px;
    border-radius: 0;
    cursor: pointer;
}
.border{
    height: 50px;
    width: 1px;
    background-color: #000;
    margin-right: 15px;
}
.location iframe{
    margin-left: 30px;
    width: 120vh;


    /* padding-bottom: 400px; */
}
/* Hero Secton End */

/* Header section End */

/* testimonials Slides */
/*.swiper-testimonials {
     width: 100%;
    height: 300px;           Ensure the height is set */
    /* padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide-testimonials {
    background-position: center;
    background-size: cover;
    width: 300px;
    
  }

  .swiper-slide-testimonials img {
    display: block;
    width: 100%;
  } */
/* testimonials Slides */




/* .carousel-control-float {
    top: 10%;
    opacity: 0.5;
  }
  .carousel-control-prev:hover, .carousel-control-next:hover {
    top: 50%;
    opacity: 1;
  } */
  /* .testimonials h1 {
    font-weight: 700;
    margin-bottom: 40px;
}

.lara {
    border-radius: 100%;
    border: 2px solid #fff;
    width: 100px !important;
    margin: auto;
} */


/* Footer section */
.footer-content .Terms{
    color: #f2277e;
}

.bi {
    fill: white;
}
.icon-large {
    font-size: 1.5em; /* Adjust the size as needed */
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.border{
    height: 50px;
    width: 1px;
    background-color: #000;
    margin-right: 15px;
}

/* Footer section End */























































.pink {
    color: var(--marker-color);
}


.pad-top {
    padding-top: 100px;
}